body {
  background-color: #0f172a;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.board {
  height: 30rem;
  width: 40rem;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}
.score {
  height: 25%;
  background-color: whitesmoke;
  border-radius: 5px;
}
.main {
  height: 80%;
  background-color: antiquewhite;
}
